<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="style.css">
		<link href="res/logo.png" rel="shortcut icon" >

		<title>Camille CHAULAIC - Junior developer</title>
	</head>
	<body>
		<header>
			<h1>Camille CHAULAIC</h1>
			<h2>Junior developer</h2>
			<img id="portrait" src="res/me.jpg" alt="Camille">
			<div class="icons-social-medias">
				<a href="https://www.linkedin.com/in/camille-chaulaic-737a061a1/"><img src="res/linkedin.png" alt="Linkedin"></a>
				<a href="https://github.com/CamilleChlc/"><img src="res/github-image.png" alt="Github"></a>
				<a href="#"><img src="res/curriculum.png" alt="Resume"></a>
			</div>

			<div class="about">
				<h3>About</h3>
				<p>I gained a Professional Bachelor's Degree. I enjoy programming in order to answer a problem or meet a need. Dynamic and patient, I  would like to specialise in web or software development. My career goal is to put my skills at the service of companies linked to the environmental sector where the needs are growing.</p>
			</div>

			<nav>
				<a href="#projects">Projects</a>
				<a href="#languages">Languages</a>
				<a href="#it-skills">Technical skills</a>
				<a href="#works">Works</a>
				<a href="#studies">Studies</a>
				<a href="#hobbies">Hobbies</a>
			</nav>
		</header>

		<div class="line"></div>

		<div id="content">
			<img id="topButton" onclick="topFunction()" src="res/top.svg" alt="Top">

			<section id="projects">
				<h3>Projects</h3>
				<div class="project">
					<img @mouseover="seenAntivirus = true" @mouseleave="seenAntivirus = false" src="res/antivirus-Accueil.png" alt="Antivirus">
					<div v-if="seenAntivirus">
						<h4>Antivirus</h4>
						<p>As part of the first year of university, we had to develop a board game in Ada.</p>
					</div>
				</div>
				<div class="project">
					<img @mouseover="seenIle = true" @mouseleave="seenIle = false" src="res/ileinterdite.jpg" alt="Île Interdite">
					<div v-if="seenIle">
						<h4>Île Interdite</h4>
						<p>As part of the first year of DUT Informatique and in teams of three, we had to design and develop a cooperative board game.</p>
					</div>
				</div>
				<div class="project">
					<img @mouseover="seenMath = true" @mouseleave="seenMath = false" src="res/MSW.jpg" alt="Math'Scape World">
					<div v-if="seenMath">
						<h4>Math'Scape World</h4>
						<p>During the second year DUT Informatique and by team of 7 people, we imagined, designed and developed a mobile application to educate middle school students about mathematical and computer thinking.</p>
					</div>
				</div>
				<div class="project">
					<a href="res/ski_race.svg"><img @mouseover="seenRace = true" @mouseleave="seenRace = false" src="res/ski_race.png" alt="Ski Race"></a>
					<div v-if="seenRace">
						<h4>SVG Ski Race</h4>
						<p>As part of the optional second year Graphics module, I created with two classmates an SVG animation on the theme of ski racing.</p>
					</div>
				</div>
				<div class="project">
					<img @mouseover="seenJeu = true" @mouseleave="seenJeu = false" src="res/unJeu.png" alt="UnJeu">
					<div v-if="seenJeu">
						<h4>Android Game : UnJeu</h4>
						<p>For the Android course, I developed an application to revise mathematics and general cultures for an audience of middle school students.</p>
					</div>
				</div>
				<div class="project">
					<img @mouseover="seenSpace = true" @mouseleave="seenSpace = false" src="res/universe.png" alt="SpaceTeam">
					<div v-if="seenSpace">
						<h4>Android Game : SpaceTeam</h4>
						<p>During the Android workshop, we had to recreate the cooperative shouting game SpaceTeam, in teams of 3.</p>
					</div>
				</div>
				<div class="project">
					<img @mouseover="seenMovies = true" @mouseleave="seenMovies = false" src="res/camera.png" alt="Movies Explorer">
					<div v-if="seenMovies">
						<h4>IOS App : Movies Explorer</h4>
						<p>During the development workshop under IOS, we had to create an application for viewing fact sheets on films, using the Movie Db API.</p>
					</div>
				</div>
				<div class="project">
					<img @mouseover="seenDIM = true" @mouseleave="seenDIM = false" src="res/dim.png" alt="DIM Logo">
					<div v-if="seenDIM">
						<h4>Digital Immersive Museum</h4>
						<p>With three others students, we created Digital Immersive Museum, ou final year university project. This project aimed to introduce innovative and interactive experience to the visitors of La Turbine exhibition center.</p>
					</div>
				</div>
			</section>

			<section id="languages">
				<h3>Languages</h3>

				<img @mouseover="seenFrench = true" @mouseleave="seenFrench = false" src="res/france.png" alt="French flag">
				<div>
					<h4>French</h4>
					<p v-if="seenFrench">Native</p>
				</div>
				<img @mouseover="seenEnglish = true" @mouseleave="seenEnglish = false" src="res/uk.png" alt="United Kingdom flag">
				<div>
					<h4>English</h4>
					<p v-if="seenEnglish">Upper intermediate</p>
				</div>
				<img @mouseover="seenItalian = true" @mouseleave="seenItalian = false" src="res/italy.png" alt="Italy flag">
				<div>
					<h4>Italian</h4>
					<p v-if="seenItalian">Basis</p>
				</div>

				<img @mouseover="seenSpanish = true" @mouseleave="seenSpanish = false" src="res/spain.png" alt="Spain flag">
				<div>
					<h4>Spanish</h4>
					<p v-if="seenSpanish">Learning</p>
				</div>
			</section>

			<section id="it-skills">
				<h3>Skills</h3>
				<div class="software">
					<h4>Software</h4>
					<img src="res/java.png" alt="Java">
					<img src="res/kotlin.png" alt="Kotlin">
					<img src="res/swift.png" alt="Swift">
				</div>
				<div class="web">
					<h4>Web</h4>
					<img src="res/html5.png" alt="HTML">
					<img src="res/css.png" alt="CSS">
					<img src="res/javascript.png" alt="Javascript">
					<img src="res/php.png" alt="PHP">
				</div>
				<div class="tools">
					<h4>Tools</h4>
					<img src="res/vs.png" alt="Visual Studio Code">
					<img src="res/jetbrains.png" alt="Jetbrains IDEs">
					<img src="res/git.png" alt="Git">
				</div>
				<div class="methodologies">
					<h4>Methodologies</h4>
					<img src="res/agile.png" alt="Agile">
					<img src="res/kanban.png" alt="Kanban">
				</div>
				<div class="others">
					<h4>Others</h4>
					<img src="res/sql.png" alt="SQL">
					<img src="res/office.png" alt="Microsoft Office">
					<img src="res/photoshop.png" alt="Photoshop">
					<img src="res/vegas.png" alt="Vegas Pro">
				</div>

				<div class="personnal-skills">
					<h4>Personal skills</h4>
					<p>I am dynamic, attentive and reliable. I am comfortable with human relationships and I know how to adapt to the different projects available to me. I either can work in team or individual project.</p>
				</div>
			</section>

			<section id="works">
				<h3>Works</h3>
					<ul>
						<li v-for="work in works">
							<h4>{{work.startYear}} - {{work.endYear}}</h4>
							<p>{{work.company}} - {{work.localisation}}</p>
							<p>{{work.type}}</p>
							<p>{{work.description}}</p>
						</li>
					</ul>
			</section>

			<section id="studies">
				<h3>Studies</h3>
					<ul>
						<li v-for="study in studies">
							<h4>{{study.startYear}} - {{study.endYear}}</h4>
							<p>{{study.title}}</p>
							<p>{{study.localisation}}</p>
							<p>{{study.description}}</p>
						</li>
					</ul>
			</section>

			<section id="hobbies">
				<h3>My Hobbies</h3>

				<img @mouseover="seenHike = true" @mouseleave="seenHike = false" src="res/hiking.png" alt="Hiking">
				<div>
					<p v-if="seenHike">Hike</p>
				</div>


				<img @mouseover="seenSki = true" @mouseleave="seenSki = false" src="res/skiing.png" alt="Ski">
				<div>
					<p v-if="seenSki">Ski</p>
				</div>


				<img @mouseover="seenBike = true" @mouseleave="seenBike = false" src="res/bike_.png" alt="Bike">
				<div>
					<p v-if="seenBike">Bike</p>
				</div>


				<img @mouseover="seenCinema = true" @mouseleave="seenCinema = false"src="res/cinema.png" alt="Cinema">
				<div>
					<p v-if="seenCinema">Cinema</p>
				</div>


				<img @mouseover="seenClimate = true" @mouseleave="seenClimate = false" src="res/climate-change.png" alt="Climate Change">
				<div>
					<p v-if="seenClimate">Concerned about climate change</p>
				</div>

			</section>
		</div>

		<footer>
			<p>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
			<p>© Developed by Camille CHAULAIC</p>
		</footer>
		<script src="vue.js"></script>
		<script src="main.js"></script>
	</body>
</html>
