<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="style.css">
		<link href="res/logo.png" rel="shortcut icon" >

		<title>Camille CHAULAIC - Junior developer</title>
	</head>
	<body>
		<header>
			<h1>Camille CHAULAIC</h1>
			<h2>Junior developer</h2>
			<img id="portrait" src="res/me.jpg" alt="Camille">
			<div class="icons-social-medias">
				<a href="https://www.linkedin.com/in/camille-chaulaic-737a061a1/"><img src="res/linkedin.png" alt="Linkedin"></a>
				<a href="https://github.com/CamilleChlc/"><img src="res/github-image.png" alt="Github"></a>
				<a href="CamilleChaulaic.pdf"><img src="res/curriculum.png" alt="Resume"></a>
			</div>

			<div class="about">
				<h3>About</h3>
				<p>I gained a Professional Bachelor's Degree. I enjoy programming in order to answer a problem or meet a need. Dynamic and patient, I  would like to specialise in web or software development. My career goal is to put my skills at the service of companies linked to the environmental sector where the needs are growing.</p>
			</div>

			<nav>
				<a href="#projects">Projects</a>
				<a href="#languages">Languages</a>
				<a href="#it-skills">Technical skills</a>
				<a href="#works">Works</a>
				<a href="#studies">Studies</a>
				<a href="#hobbies">Hobbies</a>
			</nav>
		</header>

		<div class="line"></div>

		<div id="content">
			<img id="topButton" onclick="topFunction()" src="res/top.svg" alt="Top">

			<section id="projects">
				<h3>Projects</h3>
				<div>
					<img @mouseover="seenAntivirus = true" @mouseleave="seenAntivirus = false" src="res/virus.png" alt="Antivirus">
					<div class="project">
						<h4>Antivirus</h4>
						<p>As part of the first year of university, we had to develop a virtual boardgame in Ada.</p>
					</div>
				</div>
				<div >
					<img @mouseover="seenIle = true" @mouseleave="seenIle = false" src="res/palm-tree.png" alt="Île Interdite">
					<div class="project">
						<h4>Île Interdite</h4>
						<p>As part of the first year of DUT Informatique, my team and I had to design and develop a virtual cooperative board game.</p>
					</div>
				</div>
				<div >
					<img @mouseover="seenMath = true" @mouseleave="seenMath = false" src="res/learning.png" alt="Math'Scape World">
					<div class="project">
						<h4>Math'Scape World</h4>
						<p>During the second year of DUT Informatique and by team of 7, we imagined, designed, and developed a mobile application to enable middle school students to practice their mathematical and computer process of thinking.</p>
					</div>
				</div>
				<div >
					<img @mouseover="seenRace = true" @mouseleave="seenRace = false" src="res/race.png" alt="Ski Race">
					<div class="project">
						<h4>SVG Ski Race</h4>
						<p>As part of the optional second year Graphics module, I created an SVG animation on the theme of ski racing with two classmates.</p>
					</div>
				</div>
				<div >
					<img @mouseover="seenJeu = true" @mouseleave="seenJeu = false" src="res/school.png" alt="UnJeu">
					<div class="project">
						<h4>Android Game : UnJeu</h4>
						<p>For the Android course, I developed an application to practice mathematics and general knowledge for an audience of middle school students.</p>
					</div>
				</div>
				<div >
					<img @mouseover="seenSpace = true" @mouseleave="seenSpace = false" src="res/universe.png" alt="SpaceTeam">
					<div class="project">
						<h4>Android Game : SpaceTeam</h4>
						<p>During the Android workshop, we had to recreate the cooperative shouting game SpaceTeam.</p>
					</div>
				</div>
				<div >
					<img @mouseover="seenMovies = true" @mouseleave="seenMovies = false" src="res/video.png" alt="Movies Explorer">
					<div class="project">
						<h4>IOS App : Movies Explorer</h4>
						<p>During the development workshop under IOS, we had to program an application for viewing facts pages on films, using the Movie Db API.</p>
					</div>
				</div>
				<div >
					<img @mouseover="seenAuk = true" @mouseleave="seenAuk = false" src="res/crowdfunding.png" alt="AuKrowdFunding">
					<div class="project">
						<h4>AuKrowdfunding</h4>
						<p>As part of the PHP / Symfony course during the LP DIM, I produced a crowdfunding platform in Symfony with two other people.</p>
					</div>
				</div>
				<div >
					<img @mouseover="seenDIM = true" @mouseleave="seenDIM = false" src="res/search.png" alt="DIM Logo">
					<div class="project">
						<h4>Digital Immersive Museum</h4>
						<p>I created Digital Immersive Museum, our final-year-of-university project with three others students. This project aimed at introducing innovative and interactive experience to the visitors of La Turbine exhibition center.</p>
					</div>
				</div>
			</section>

			<section id="languages">
				<h3>Languages</h3>

				<img @mouseover="seenFrench = true" @mouseleave="seenFrench = false" src="res/france.png" alt="French flag">
				<div>
					<h4>French</h4>
					<p v-if="seenFrench">Mother tongue</p>
				</div>
				<img @mouseover="seenEnglish = true" @mouseleave="seenEnglish = false" src="res/uk.png" alt="United Kingdom flag">
				<div>
					<h4>English</h4>
					<p v-if="seenEnglish">B2</p>
				</div>
				<img @mouseover="seenItalian = true" @mouseleave="seenItalian = false" src="res/italy.png" alt="Italy flag">
				<div>
					<h4>Italian</h4>
					<p v-if="seenItalian">B1</p>
				</div>

				<img @mouseover="seenSpanish = true" @mouseleave="seenSpanish = false" src="res/spain.png" alt="Spain flag">
				<div>
					<h4>Spanish</h4>
					<p v-if="seenSpanish">A1</p>
				</div>
			</section>

			<section id="it-skills">
				<h3>Skills</h3>
				<div class="software">
					<h4>Software</h4>
					<img src="res/java.png" alt="Java">
					<img src="res/kotlin.png" alt="Kotlin">
					<img src="res/swift.png" alt="Swift">
				</div>
				<div class="web">
					<h4>Web</h4>
					<img src="res/html5.png" alt="HTML">
					<img src="res/css.png" alt="CSS">
					<img src="res/javascript.png" alt="Javascript">
					<img src="res/php.png" alt="PHP">
				</div>
				<div class="tools">
					<h4>Tools</h4>
					<img src="res/vs.png" alt="Visual Studio Code">
					<img src="res/jetbrains.png" alt="Jetbrains IDEs">
					<img src="res/git.png" alt="Git">
				</div>
				<div class="methodologies">
					<h4>Methodologies</h4>
					<img src="res/agile.png" alt="Agile">
					<img src="res/kanban.png" alt="Kanban">
				</div>
				<div class="others">
					<h4>Others</h4>
					<img src="res/sql.png" alt="SQL">
					<img src="res/office.png" alt="Microsoft Office">
					<img src="res/photoshop.png" alt="Photoshop">
					<img src="res/vegas.png" alt="Vegas Pro">
				</div>

				<div class="personnal-skills">
					<h4>Personal skills</h4>
					<p>I am dynamic, reliable, and I will do my best to meet my clients' needs. I feel comfortable with human relationships and I know how to adapt to the different projects I am in charge of. I enjoy either being part of a team or working on individual projects.</p>
				</div>
			</section>

			<section id="works">
				<h3>Working experience</h3>
					<ul>
						<li v-for="work in works">
							<h4>{{work.startYear}} - {{work.endYear}}</h4>
							<p class="title">{{work.company}} - {{work.localisation}}</p>
							<p class="type">{{work.type}}</p>
							<p class="description">{{work.description}}</p>
						</li>
					</ul>
			</section>

			<section id="studies">
				<h3>Education</h3>
					<ul>
						<li v-for="study in studies">
							<h4>{{study.startYear}} - {{study.endYear}}</h4>
							<p class="title">{{study.title}}</p>
							<p class="localisation">{{study.localisation}}</p>
							<p class="description">{{study.description}}</p>
						</li>
					</ul>
			</section>

			<section id="hobbies">
				<h3>My Hobbies</h3>

				<img @mouseover="seenHike = true" @mouseleave="seenHike = false" src="res/hiking.png" alt="Hiking">
				<div>
					<p v-if="seenHike">Hiking</p>
				</div>


				<img @mouseover="seenSki = true" @mouseleave="seenSki = false" src="res/skiing.png" alt="Ski">
				<div>
					<p v-if="seenSki">Skiing</p>
				</div>


				<img @mouseover="seenBike = true" @mouseleave="seenBike = false" src="res/bike_.png" alt="Bike">
				<div>
					<p v-if="seenBike">Biking</p>
				</div>


				<img @mouseover="seenCinema = true" @mouseleave="seenCinema = false"src="res/cinema.png" alt="Cinema">
				<div>
					<p v-if="seenCinema">Cinema</p>
				</div>


				<img @mouseover="seenClimate = true" @mouseleave="seenClimate = false" src="res/climate-change.png" alt="Climate Change">
				<div>
					<p v-if="seenClimate">Concerned about climate change</p>
				</div>

			</section>
		</div>

		<footer>
			<p>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
			<p>© Developed by Camille CHAULAIC</p>
		</footer>
		<script src="vue.js"></script>
		<script src="main.js"></script>
	</body>
</html>
